@using EntitySystem.Client.Abstract.Components

@typeparam TParent
@typeparam TChild
@inherits BaseRendered<BaseDataInputTarget<TParent, TChild>>

<div class="list-group-item disabled">not found</div>
