@using EntitySystem.Client.Abstract.Components

@typeparam TKey
@inherits BaseRendered<DataRecordListConditionParameters<TKey>>

<span class="h5">
	<span class="badge rounded-pill bg-light text-dark me-1">@Parameters.Condition.Name
		<button class="btn btn-link" type="button" @onclick="OnRemoveAsync">
			<i class="bi-x-circle"></i>
		</button>
	</span>
</span>

@code
{
	public async Task OnRemoveAsync()
	{
		Parameters.Condition.UnAssign();

		await Parameters.RecordList.OnRefreshAsync();
	}
}
