@using EntitySystem.Client.Abstract.Components

@typeparam TKey
@inherits BaseRendered<BaseDataRecordList<TKey>>

<a href="#" class="btn btn-outline-dark disabled" style="border: 0; font-weight: bold; color: black; opacity: 1;">@Parameters.Source.Name</a>
