@using EntitySystem.Client.Abstract.Components

@typeparam TKey
@inherits BaseRendered<BaseDataRecordList<TKey>>

<button type="button" class="btn btn-outline-primary me-1" @onclick="@OnRefreshAsync">Refresh</button>

@code
{
	public async Task OnRefreshAsync()
	{
		await Parameters.OnRefreshAsync();
	}
}