@using EntitySystem.Client.Abstract.Components

@typeparam TParent
@typeparam TChild
@inherits BaseRendered<DataInputTargetFoundItemParameters<TParent, TChild>>

<button type="button" class="list-group-item list-group-item-action" @onclick="OnClickAsync">@Parameters.Target.Property.ChildNameGetter(Parameters.Entity)</button>

@code
{
	public virtual async Task OnClickAsync()
	{
		await Parameters.Target.OnSelectAsync(Parameters.Entity);
	}
}
